.bebas-font {
 font-family: 'Bebas Neue', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
box {
  font-family: 'Bebas Neue', sans-serif;
}

@import "tailwindcss"
