.bebas-font {
 font-family: 'Bebas Neue', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
box {
  font-family: 'Bebas Neue', sans-serif;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scroll-left 40s linear infinite
}


@import "tailwindcss"
